body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-8xl: 27px;
  --font-size-11xl: 30px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-xl: 20px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-white: #fff;
  --color-lavender: #cbe1f6;
  --color-black: #000;
  --color-royalblue: #0075ff;
  --color-gainsboro: #d9d9d9;
  --color-mediumslateblue-100: #857aff;
  --color-mediumslateblue-200: #6c61ea;

  /* Gaps */
  --gap-19xl: 38px;
  --gap-41xl: 60px;
  --gap-199xl: 218px;
  --gap-90xl: 109px;

  /* Paddings */
  --padding-11xl: 30px;
  --padding-13xl: 32px;
  --padding-xl: 20px;
  --padding-33xl: 52px;
  --padding-3xl: 22px;
  --padding-lgi: 19px;
  --padding-mini: 15px;
  --padding-xs: 12px;
  --padding-12xs: 1px;
  --padding-38xl: 57px;
  --padding-lg: 18px;
  --padding-7xl: 26px;
  --padding-9xl: 28px;
  --padding-10xl: 29px;
  --padding-8xl: 27px;
  --padding-9xs: 4px;
  --padding-21xl: 40px;

  /* Border radiuses */
  --br-31xl: 50px;
  --br-4xs: 9px;
}
